/*FONTS*/
@font-face{
    font-family: "HELL-bold";
    src: url('fonts/helveticaneueltstdhv.eot');
	src: url('fonts/helveticaneueltstdhv.eot?#iefix') format('embedded-opentype'),
			 url('fonts/helveticaneueltstdhv.woff') format('woff'),
			 url('fonts/helveticaneueltstdhv.ttf') format('truetype'),
			 url('fonts/helveticaneueltstdhv.svg#helveticaneueltstdhv') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
    font-family: "HELL-normal";
    src: url('fonts/helveticaneueltstdroman.eot');
	src: url('fonts/helveticaneueltstdroman.eot?#iefix') format('embedded-opentype'),
			 url('fonts/helveticaneueltstdroman.woff') format('woff'),
			 url('fonts/helveticaneueltstdroman.ttf') format('truetype'),
			 url('fonts/helveticaneueltstdroman.svg#helveticaneueltstdroman') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
    font-family: "HELL-thin";
    src: url('fonts/helveticaneueltstdth.eot');
	src: url('fonts/helveticaneueltstdth.eot?#iefix') format('embedded-opentype'),
			 url('fonts/helveticaneueltstdth.woff') format('woff'),
			 url('fonts/helveticaneueltstdth.ttf') format('truetype'),
			 url('fonts/helveticaneueltstdth.svg#helveticaneueltstdth') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'roboto-CB';
    src: url('fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-CR';
    src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-T';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'walkway';
    src: url('fonts/walkway_ultrabold-webfont.woff2') format('woff2'),
         url('fonts/walkway_ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*FONTS*/

/*RESET CSS*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}body{line-height:1;} ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} table{border-collapse:collapse;border-spacing:0;}
	.clearfix{clear:both;}
	html, body{font-family: 'HELL-normal';color:#000;height: 100%;background-image:url('images/homeBkgd.jpg');background-size:100% 100%;background-repeat:repeat-x;background-attachment:fixed;opacity: 0;-ms-opacity: 0;-webkit-opacity: 0;}
	.backstretch{width:100%!important;height:100%!important;}
	.clear{clear:both;}
	.homeLogo{width: 300px;position: relative;left: calc(50vw - 150px);top: calc(50vh - 120px);}
	
	body{overflow:visible;}
	body.hideEdge{overflow:hidden;}
/*RESET CSS*/

/* navigation */	
	nav{
		top: -200px;
		z-index:100;
		position:absolute;
		height:80px;
		max-height: 80px;
		width:100%;
		border-bottom:1px solid #ffa800;
		background-color:#fefdfc;	
		-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	}
	.homeIcon{
		width: 280px;
	}
	nav ul{
		position:absolute;
		top:22px;
		right:3vw;
	}
	nav ul li{
		display:inline-block;
		position:relative;
		margin:0 10px;
		cursor:pointer;
		color:#000;
		
		-webkit-transition: color .2s ease-in-out;
		-moz-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}
	nav ul li.activeNav, nav ul li:hover{
		color:#ffa800;
	}
	
	subnav{
		display:none;
		position:absolute;
		bottom: -10px;
		left:0px;
		width:100%;
	}
	subnav.active{
		display:inline-block;
	}
	subnav ul{
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
	}
	subnav ul li{
		display:inline-block;
		position:relative;
		margin:0 10px;
		cursor:pointer;
	}
/* navigation */


/* blocks */
.left{float:left;display:inline-block;text-align: left;}
.left-20{width:20%;margin-right:2.5%;}
.left-45{width:47%;margin-right:0%;}
.left-70{width:70%;margin-right:2.5%;}

.right{float:right;display:inline-block;text-align: right;}
.right-20{width:20%;margin-left:2.5%;}
.right-45{width:47%;margin-left:0%;}
.right-70{width:70%;margin-left:2.5%;}

.center{display:inline-block;text-align: center;}
.center-20{width:20%;margin-left:5%;margin-right:5%;}
.center-45{width:45%;margin-left:5%;margin-right:5%;}
.center-70{width:70%;margin-left:5%;margin-right:5%;}
/* blocks */


/* pages */
	.page{position: absolute;display:block;z-index:1;opacity:0;height:100vh;width:100vw;top:0px;}
	.page.active{z-index:10;opacity:1;height:100vh;overflow:visible;}
	.page.inactive{height:0vh;width:100vw;overflow:hidden;}
	.pageContent{padding: 120px 60px 40px 60px;height: calc(100vh - 161px);width: calc(100vw - 120px);}
/* pages */
  

/*banner*/
.greyBar{background-color: #747474;width: calc(100% - 40px);padding: 20px;}


/* pg2 */
	.pg2{font-family: 'walkway';}
		.pg2 .image-frame{background-color:#ffa800;width: auto;height: calc(90% - 20%);padding: .5em .5em .4em .5em;position: relative;display: block;left:.5em;}
		.pg2 .image-frame .main-image{position: relative;margin-left: -1em;width: calc(100% + 1em);}
		
		.pg2 .greyBar{background-color: #585858;width: calc(100% - 40px);padding: 20px;}
		.pg2 .greyBar .banner-title1{color:#747474;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;}
		.pg2 .greyBar .banner-title2{color:#eaeaea;font-family:'walkway';font-size:24px;letter-spacing:2px;text-transform:uppercase;}
		.pg2 .greyBar .banner-title3{color:#ffa800;font-family:'HELL-bold';font-size:15px;float:left;position: absolute;top: calc(50% - 5px);}
		
		.pg2 .body-title1{color:#000;font-family:'walkway';font-size:24px;letter-spacing:2px;margin:12px 0;text-transform:uppercase;}
		.pg2 .body-title2{color:#000;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;margin-bottom:15px;text-transform:uppercase;}
		.pg2 .body-copy{font-family:'walkway';font-size:14px;line-height:25px;color:#000;letter-spacing: 1px;}
/* pg2 */

/* pg3 */
	.pg3{font-family: 'walkway';}
		.pg3 .image-frame{background-color:#ffa800;width: auto;height: calc(90% - 20%);padding: .5em .5em .4em .5em;position: relative;display: block;left:.5em;}
		.pg3 .image-frame .main-image{position: relative;margin-left: -1em;width: calc(100% + 1em);}
		
		.pg3 .greyBar{background-color: #585858;width: calc(100% - 40px);padding: 20px;}
		.pg3 .greyBar .banner-title1{color:#747474;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;}
		.pg3 .greyBar .banner-title2{color:#eaeaea;font-family:'walkway';font-size:24px;letter-spacing:2px;text-transform:uppercase;}
		.pg3 .greyBar .banner-title3{color:#ffa800;font-family:'HELL-bold';font-size:15px;float:left;position: absolute;top: calc(50% - 5px);}
		
		.pg3 .body-title1{color:#000;font-family:'walkway';font-size:24px;letter-spacing:2px;margin:12px 0;text-transform:uppercase;}
		.pg3 .body-title2{color:#000;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;margin-bottom:15px;text-transform:uppercase;}
		.pg3 .body-copy{font-family:'walkway';font-size:14px;line-height:25px;color:#000;letter-spacing: 1px;}
/* pg3 */

/* pg4 */
	.pg4{font-family: 'walkway';}
/* pg4 */

/* pg5 */
	.pg5{font-family: 'walkway';}
		.pg5 .image-frame{background-color:#ffa800;width: auto;height: calc(90% - 20%);padding: .5em .5em .4em .5em;position: relative;display: block;left:.5em;}
		.pg5 .image-frame .main-image{position: relative;margin-left: -1em;width: calc(100% + 1em);}
		
		.pg5 .greyBar{background-color: #585858;width: calc(100% - 40px);padding: 20px;}
		.pg5 .greyBar .banner-title1{color:#747474;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;}
		.pg5 .greyBar .banner-title2{color:#eaeaea;font-family:'walkway';font-size:24px;letter-spacing:2px;text-transform:uppercase;}
		.pg5 .greyBar .banner-title3{color:#ffa800;font-family:'HELL-bold';font-size:15px;float:left;position: absolute;top: calc(50% - 5px);}
		
		.pg5 .body-title1{color:#000;font-family:'walkway';font-size:24px;letter-spacing:2px;margin:12px 0;text-transform:uppercase;}
		.pg5 .body-title2{color:#000;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;margin-bottom:15px;text-transform:uppercase;}
		.pg5 .body-copy{font-family:'walkway';font-size:14px;line-height:25px;color:#000;letter-spacing: 1px;}
/* pg5 */

/* pg6 */
	.pg6{font-family: 'walkway';}
		.pg6 .greyBar{background-color: #585858;width: calc(100% - 40px);padding: 20px;}
		.pg6 .greyBar .banner-title1{color:#747474;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;}
		.pg6 .greyBar .banner-title2{color:#eaeaea;font-family:'walkway';font-size:24px;letter-spacing:2px;text-transform:uppercase;}
		.pg6 .greyBar .banner-title3{color:#ffa800;font-family:'HELL-bold';font-size:15px;float:left;position: absolute;top: calc(50% - 5px);}
		
		.pg6 .body-title1{color:#000;font-family:'walkway';font-size:24px;letter-spacing:2px;margin:12px 0;text-transform:uppercase;}
		.pg6 .body-title2{color:#000;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;margin-bottom:15px;text-transform:uppercase;}
		.pg6 .body-copy{font-family:'walkway';font-size:14px;line-height:25px;color:#000;letter-spacing: 1px;}
/* pg6 */

/* pg7 */
	.pg7{font-family: 'walkway';}
		.pg7 .bkgd{background-image:url('images/contactBkgd.png');background-size: 100%;background-position: 50% 100px;background-repeat:no-repeat;position:absolute;z-index:0;width:100vw;height:50vh;bottom:0px;}
		.pg7 .center{text-align:center;width:500px;height:500px;position:absolute;display:inline-block;top:calc(50% - 250px);left:calc(50% - 300px);}
		.pg7 .body-title1{color:#000;font-family:'walkway';font-size:24px;letter-spacing:2px;margin:12px 0;text-transform:uppercase;}
		.pg7 .body-title2{color:#000;font-family:'HELL-bold';font-size:20px;text-transform:uppercase;margin-bottom:15px;text-transform:uppercase;}
		.pg7 .body-copy{font-family:'walkway';font-size:14px;line-height:25px;color:#000;letter-spacing: 1px;}
		
		.pg7 form{margin-top:30px;}
		.pg7 form label{background-color:#ffa800;display:inline-block;float:left;color:#eaeaea;text-align:center;width: 100px;padding: 6px 0px;margin-right: 5px;margin-bottom: 5px;letter-spacing:1px;}
		.pg7 form input{background-color:rgba(88,88,88,.7);display:inline-block;float:right;color:#eaeaea;border:none;padding: 8px 10px 7px 10px;margin-bottom: 5px;width:  calc(79% - 20px);}
		.pg7 form textarea{background-color:rgba(88,88,88,.7);display:inline-block;float:right;color:#eaeaea;border:none;padding: 8px 10px 7px 10px;margin-bottom: 5px;resize:none;min-height:100px;color:#eaeaea;width: calc(79% - 20px);}
/* pg7 */



/* action buttons */
	.action-btn{
		cursor: pointer;
	}
	
	.CTA-0{
		border: none;
		font-weight: 800;
		padding: 8px 10px;
    }
    .CTA-1{
    	background-color:#ffa800;
    	color:#eaeaea;
		border: none;
		font-weight: 800;
		padding: 8px 10px;
    }
/* action buttons */

  
/* directional ani */	
	.ani-U{
		-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);transform:translateY(0vh);
		opacity:1;
		
		-webkit-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-moz-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-o-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		transition: transform .6s ease-in-out, opacity .6s ease-in-out;
	}
	.ani-R{
		-webkit-transform:translateX(0vw);-moz-transform:translateX(0vw);transform:translateX(0vw);
		opacity:1;
		
		-webkit-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-moz-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-o-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		transition: transform .6s ease-in-out, opacity .6s ease-in-out;
	}
	.ani-D{
		-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);transform:translateY(0vh);
		opacity:1;
		
		-webkit-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-moz-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-o-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		transition: transform .6s ease-in-out, opacity .6s ease-in-out;
	}
	.ani-L{
		-webkit-transform:translateX(0vw);-moz-transform:translateX(0vw);transform:translateX(0vw);
		opacity:1;
		
		-webkit-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-moz-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		-o-transition: transform .6s ease-in-out, opacity .6s ease-in-out;
		transition: transform .6s ease-in-out, opacity .6s ease-in-out;
	}

	.ani-U.ani-U-out{opacity:0;-webkit-transform:translateY(-100vh);-moz-transform:translateY(-100vh);transform:translateY(-100vh);}
	.ani-R.ani-R-out{opacity:0;-webkit-transform:translateX(100vw);-moz-transform:translateX(100vw);transform:translateX(100vw);}
	.ani-D.ani-D-out{opacity:0;-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);transform:translateY(100vh);}
	.ani-L.ani-L-out{opacity:0;-webkit-transform:translateX(-100vw);-moz-transform:translateX(-100vw);transform:translateX(-100vw);}
/* directional ani */  
 


/* directional control buttons */
	.btn-D{
		position: absolute;
		left: calc(100% - 50vw - 50px);
		display: block;
		bottom: 5vh;
		width: 100px;
		z-index: 90;
	}
/* directional control buttons */



/* sub pages */
	.portSection{display:none;}
	.portSection.inactive{display:none;}
	.portSection.active{display:block;}
/* sub pages */



/* feature */

@-webkit-keyframes slide1 {
	0% { transform: translate3d(-50%, 0px, 0px); opacity:0; }
	2% { opacity:1; }
	98% { opacity:1; }
	100% { transform: translate3d(0%, 0px, 0px); opacity:0; }
}
@-webkit-keyframes slide2 {
	0% { transform: translate3d(-50%, 0px, 0px); opacity:0; }
	2% { opacity:1; }
	98% { opacity:1; }
	100% { transform: translate3d(0%, 0px, 0px); opacity:0; }
}
@-webkit-keyframes slide3 {
	0% { transform: translate3d(-50%, 0px, 0px); opacity:0; }
	2% { opacity:1; }
	98% { opacity:1; }
	100% { transform: translate3d(0%, 0px, 0px); opacity:0; }
}
@-webkit-keyframes slide4 {
	0% { transform: translate3d(-50%, 0px, 0px); opacity:0; }
	2% { opacity:1; }
	98% { opacity:1; }
	100% { transform: translate3d(0%, 0px, 0px); opacity:0; }
}


/*transform: translateZ(0), mystyle .6s ease-in-out first to get it on GPU*/

	.featureSliderBackground{position:fixed;width:100vw;height:100vh;overflow:hidden;opacity: .4;}
		.feature-slide-1 img{width: 100vw;height: 100%;-webkit-animation: slide1 20s linear infinite;}
		.feature-slide-2 img{width: 150vw;height: 150%;-webkit-animation: slide2 18s linear infinite;}
		.feature-slide-3 img{width: 200vw;height: 200%;-webkit-animation: slide3 15s linear infinite;}
		.feature-slide-4 img{width: 110vw;height: 110%;-webkit-animation: slide4 17s linear infinite;}

		.feature-slide-2{-webkit-clip-path: polygon(25% 0, 90% 0, 75% 100%, 14% 100%);clip-path: polygon(25% 0%, 90% 0%, 75% 100%, 14% 100%);}
		.feature-slide-3{-webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 10% 100%);clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 10% 100%);}
		.feature-slide-4{-webkit-clip-path: polygon(0 0, 90% 0, 80% 100%, 20% 100%);clip-path: polygon(0% 0%, 90% 0%, 80% 100%, 20% 100%);}
		
		.feature-slide-1{overflow:hidden;opacity: .8;position:absolute;z-index:0;width: 100%;height: 100%;}
		.feature-slide-2{overflow:hidden;position:absolute;z-index:3;left:30%;width: 60%;height: 100%;}
		.feature-slide-3{overflow:hidden;position:absolute;z-index:2;right:-5%;width: 60%;height: 100%;}
		.feature-slide-4{overflow:hidden;position:absolute;z-index:1;right:-10%;width: 40%;height: 100%;}
		
		.feature-slide-1{-webkit-filter: blur(10px);-moz-filter: blur(10px);-o-filter: blur(10px);-ms-filter: blur(10px);filter: blur(10px);}
		.feature-slide-2{-webkit-filter: blur(8px);-moz-filter: blur(8px);-o-filter: blur(8px);-ms-filter: blur(8px);filter: blur(8px);}
		.feature-slide-3{-webkit-filter: blur(6px);-moz-filter: blur(6px);-o-filter: blur(6px);-ms-filter: blur(6px);filter: blur(6px);}
		.feature-slide-4{-webkit-filter: blur(4px);-moz-filter: blur(4px);-o-filter: blur(4px);-ms-filter: blur(4px);filter: blur(4px);}
/* feature */