/*FONTS*/
@font-face{
    font-family: "Bold";
		src: url('../../fonts/code_pro_bold-webfont.woff2') format('woff2'),
         url('../../fonts/code_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Reg";
		src: url('../../fonts/code_pro-webfont.woff2') format('woff2'),
         url('../../fonts/code_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Thin";
		src: url('../../fonts/code_pro_light-webfont.woff2') format('woff2'),
         url('../../fonts/code_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Kameron', serif;*/
/*FONTS*/

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
a{text-decoration:none;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {quotes: none;}
.clear{clear:both;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;} table {border-collapse: collapse;border-spacing: 0;} img {image-orientation: from-image;}

a{color:#fff;} ul{color:#fff;list-style-type:none;width:100%;} li{width:100%;} li div{display:inline-block;width:auto;} .rotate{transform: rotate(90deg) ;-webkit-transform: rotate(90deg) ;-moz-transform: rotate(90deg) ;-o-transform: rotate(90deg) ;-ms-transform: rotate(90deg) ;}
#shade{display:none;width:100vw;min-height:100vh;position:fixed;background-color:rgba(0,0,0,0.9);z-index:150;}
#shade.open{display:block;}
/*RESET*/

/*FOUNDATION*/
body{background-color: #000;width:100%;height: auto;position: relative;display: block;}
.dt-below, .dt-above{background-repeat: no-repeat;background-color: #130502;width:100%;height: auto;position: relative;display: block;}
.dt-above{min-height:100vh;background-position: 50% 0;background: linear-gradient(to right, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 1) 70%), 0% 60% / cover url('../../img/dt.JPG') no-repeat fixed;}
.dt-below{min-height:200px;background-position: 0% 50%;background: linear-gradient(to top, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 1) 20%), 0% 60% / cover url('../../img/dtBelow.jpg') no-repeat fixed;}

#darkness{position:fixed;opacity: 0;
background-position: 50% 0;background-repeat: no-repeat;width:100%;min-height:100vh;height: auto;display: block;
	background: #000;}

section{position:relative;min-width:100%;min-height:756px;width: calc(100vw - 40px);height: calc(100vh - 40px);margin: 0 auto;}
.container{overflow:hidden;display:table;position:relative;min-width:100%;min-height:756px;width: calc(100vw - 40px);height: calc(100vh - 40px);margin: 0 auto;}
.cont::before{content: " ";clear:both;width:50%;display:block;margin:0 auto;margin-bottom:20px;position:relative;border-top:1px solid #fff;}
.cont{position:relative;display:block;margin:0 auto;width: 70%;line-height: 25px;letter-spacing: 1px;}
.cont-large{position:relative;display:block;margin:0 18px;width: 100%;line-height: 25px;letter-spacing: 1px;}
.cont-large table, .cont-large tr{width:100%;}
.cont-large td{width:calc(100% / 3);}
.cont-large ul{margin-bottom:15px;font-family: 'Kameron', serif;font-size:.7em;line-height:18px;list-style-type: disc;margin-left:15px;}
.grid {top: 0px;width: 100vw;height: 100vh;position: fixed;box-shadow: rgb(0, 0, 0) 0px 0px 60px inset;background-image: url("../img/gridtile.png");}

.gradient{background-image: linear-gradient(rgb(38, 110, 47) ,rgb(9, 15, 12));background-position-x: initial;background-position-y: initial;background-size: initial;background-repeat-x: initial;background-repeat-y: initial;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;}
/*FOUNDATION*/

/*DEFAULTS*/
h1{
	font-family: "Bold";
	color:#474747;
	font-size: 2em;
	margin: 0;
}
h2{
	font-family: "Reg";
	color:#a4a4a4;
	font-size: 2em;
	margin: 0;
}
h3{
	font-family: "Thin";
	color:#fff;
	font-size: 2em;
	margin: 0;
}
h4{
	font-family: 'Kameron', serif;
	color:#c03535;
	font-size: 2em;
	margin: 0;
}

.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:right;}

.billboard-top{position: relative;display: table-cell;vertical-align: top;display: block;}
.billboard-right{position: relative;display: table-cell;vertical-align: inherit;text-align:right;display: block;}
.billboard-middle{position: relative;display: table-cell;vertical-align: middle;text-align:center;}
.billboard-bottom{position: relative;display: table-cell;vertical-align: bottom;}
.billboard-left{position: relative;display: table-cell;vertical-align: inherit;text-align:left;display: block;}

.-x-large{font-size:6em;}
.-large{font-size:5em;}
.-medium{font-size:3em;}
.-small{font-size:2em;}
.-x-small{font-size:1em;}
.billboard{word-break: break-all;padding:15px;line-height: 130px;}
/*.billboard *{line-height: .9em;}*/
/*DEFAULTS*/

/*PAGES*/
#pg1{
	opacity:1;
	min-height:970px;
	height: calc(100vh + 40px);
}
#pg1 .billboard{
	position: absolute;
	bottom: 0px;
}

#pg2{
	background-color:#000;
}
#pg2 .cont{
	font-family: 'Kameron', serif;
	font-weight: 400;
	color:#fff;
	text-align:center;
}
#pg2 .cont::first-letter{font-weight: 700;color:red;}

#pg3{
	background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(198, 198, 198) 80%);background-position-x: initial;background-position-y: initial;background-size: initial;background-repeat-x: initial;background-repeat-y: initial;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: initial;
}

#pg4{
	min-height:1000px;
	background-color:#c5c5c5;
}
#pg5{
	background-color:transparent;
}
/*PAGEs*/

	/*NAV*/
	#logo{text-align:center;float: left;padding: 10px 0px 20px 0px;width: calc(100% - 20px);border-bottom: 1px solid #fff;margin: 0 10px;margin-bottom: 20px;height: auto;}
	#logo p{font-family:'Oswald', sans-serif;font-weight: 100;color:#fff;}
	#icon{float: right;padding: 0 20px;}
	#menu{display:none;}
	nav{border-bottom:#f7dc7a solid 7px;position:fixed;width: 100px;height: 100%;top:0px;z-index:50;}
	nav ul{height: 100%;text-transform:uppercase;width: auto;display: inline-block;}
	nav ul li, nav ul li a{cursor:pointer;padding:0;height: auto; line-height:80px;font-family:'Oswald', sans-serif;font-weight: 700; color:#4e775e;-webkit-transition: all 0.1s ease-in-out;-webkit-transition-delay: 0s;-moz-transition: all 0.1s ease-in-out 0.02s;-ms-transition: all 0.1s ease-in-out 0.02s;-o-transition: all 0.1s ease-in-out 0.02s;transition: all 0.1s ease-in-out 0.02s;}
	.active, .active *, nav ul li:hover{padding:0 12px;background-color:#4a4a4a;color:#c3c3c3;font-family:'Oswald', sans-serif;font-weight: 700;}
	nav ul li:hover a{color:#ded2bf!important;}
	nav ul li.active{padding: 0 12px;}
	nav ul li{width:90px;display: inline-block; float: left;text-align: right;}
	/*NAV*/

	/*WORKNAV*/
	worknav::before{content: " ";clear:both;width:100%;display:block;margin-top:-25px;margin-bottom:20px;position:relative;border-top:1px solid #fff;}
	worknav{position:relative;float:right;width: 275px;height: auto;top:0px;display:inline-block;margin-right:15px;}
	worknav ul{float: right;height: 100%;text-transform:uppercase;width: auto;display: inline-block;}
	worknav ul li, worknav ul li a{text-align:right;cursor:pointer;padding:0;height: auto; line-height:20px;font-family:'Thin'; color:#fff;-webkit-transition: all 0.1s ease-in-out;-webkit-transition-delay: 0s;-moz-transition: all 0.1s ease-in-out 0.02s;-ms-transition: all 0.1s ease-in-out 0.02s;-o-transition: all 0.1s ease-in-out 0.02s;transition: all 0.1s ease-in-out 0.02s;}
	.active, .active *, worknav ul li:hover{background-color:#fff;padding: 0 10px;font-family:'Thin';}
	worknav ul li:hover a{color:#000!important;}
	worknav ul li.active{}
	worknav ul li{clear:both;letter-spacing: 1px;width:auto;padding:0;display: inline-block; float: right;text-align: right;}
	/*WORKNAV*/
